<h4 class="img-title"> We are two passionate entrepreneurs who have been in the health industry for many years and have seen the positive outcomes of raw cold-pressed juice. Our goal is to make fresh, raw, organic juice accessible to the communities in Massachusetts and to support local farmers. 

</h4>