<div id="juice-img"></div>
<h4 class="img-title">
  Our cold-pressed juice is made with fresh organic produce always.  
  Most juice is made using a centrifugal juicer, which causes the juice to quickly oxidize and lose nutrients due to an excessive amount of heat exposure.  The Hydraulic Juice press minimizes heat production and oxidation by extracting the juice directly from the pulp through an applied force measured at more than 2000 lbs.

</h4>