body{
   color: #fff;
  font-family:'Roboto Condensed', sans-serif;
  font-size: 18px;
}


#logo h1{
  margin-left:45px;
  color: #fff;
  font-family:'Roboto Condensed', sans-serif;
  font-size: 28px;
  text-shadow: 1px 1px 1px #111;
}

.img-title, {
  padding:50px;
   font-family:'Roboto Condensed', sans-serif;
  font-size: 18px;
 

}
.space{
  padding-bottom:5px;
}
#main-img{
  margin-left:480px;
  margin-top: 220px;
  background: image-url('juice3_clear.png')no-repeat;
  height: 300px;
  width:50%;

 
  }

.left{
 margin-left:15px;
  color:black;
}

.top-bar-section ul{
  background:white;
  font-family:'Roboto Condensed', sans-serif;
  font-size: 22px;
}