<footer class="row">
 
   
   <div class="small-6 columns">
         <ul class="inline-list right">
          <!-- <p> dailyjarjuice@gmail.com</p> -->
        </ul>

    <div class="row">
        <div class="large-6 columns">
        <p>&copy; 2014 daily jar. All Rights Reserved.</p> 
        </div>
    
    
  </div>
</footer>